try:
	${1}
except ${2:Exception} as e:
	exc_type, exc_obj, exc_tb = sys.exc_info()                  
	fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
	print("[Error]\n", exc_type, fname, exc_tb.tb_lineno)
	sys.exit(e)
