
alias ll='ls -lah'

#temp
alias irn='irb -f --prompt simple'
alias dummy='cd /Users/hsu-wei-cheng/sandbox/custom_plugin/simply_settings/spec/dummy'

#notes
alias mdgit='cd ~/Dropbox/notes/git'
alias mdjs='cd /Users/hsu-wei-cheng/Dropbox/notes/javascripts'
alias mdp='cd /Users/hsu-wei-cheng/Dropbox/notes/python'

#resize pic
alias resize_jpg='sips --resampleWidth '

#we should use mvim to replace original vim
alias vim='mvim -v '
alias hist='history '
# git flow
alias gfeat='git flow feature '
alias ghot='git flow hotfix  '
alias ga='git add '
alias gc='git co '
alias grls='git flow release '
alias gpush='git push origin master'
alias gpull='git pull origin master'
alias jc='cd /Users/hsu-wei-cheng/workspace/Python/vivotek/vvtk_http_stream/src/vvtk_http_stream'
alias dpx='cd $USER_HOME/workspace'
alias jp='cd $USER_HOME/workspace/Python/vivotek/'
alias vvtk='cd /Users/hsu-wei-cheng/Dropbox/Vivotek/2014'
alias pixnet='cd $USER_HOME/pixnet_hackathon/location_parser/src/location_parser'
alias pixnet_web='cd $USER_HOME/pixnet_hackathon/website'
alias am4='cd /Users/hsu-wei-cheng/pixnet_hackathon/website/lesson_4am'
alias ios='cd /Users/hsu-wei-cheng/Dropbox/object-c/projects'
alias jm='cd $USER_HOME/workspace/Python/vivotek/long_term_video_audio_monitor/src/long_term_video_audio_monitor'
alias jblog='cd $USER_HOME/workspace/Rails/vvtk_octopress' 
alias jz='cd $USER_HOME/workspace/Rails/zeus'
alias jd='cd $USER_HOME/workspace/Rails/dqa_dev_server'
alias jr='cd $USER_HOME/workspace/Ruby'
alias jbk='cd $USER_HOME/workspace/Rails/project/book_store'
alias j4='cd /Users/hsu-wei-cheng/pixnet_hackathon/website/lesson_4am'
alias jbot='cd $USER_HOME/workspace/robot_framework'
alias 777='sudo chmod -R 777 *'
alias sx='cd /Volumes/TOSHIBA\ EXT/Movie\ 電影/_/__/_/__'
alias tao2tw='cd $USER_HOME/workspace/Rails/itaoker/tao2tw'
alias tao2tw='cd $USER_HOME/workspace/Python/vivotek/tao2tw_repo/src/tao2tw_repo'
alias rv='cd app/views'
alias rc='cd app/controllers'
alias af='cd $USER_HOME/workspace/Rails/vivotek/remote_focus_autotest_module/remote_focus_automation'
alias zaf='cd $USER_HOME/workspace/Rails/zeus/lib/auto_tools/remote_focus'
alias tealeaf='cd $USER_HOME/workspace/Rails/tealeaf/myflix'
alias vlc='/Applications/VLC.app/Contents/MacOS/VLC'
alias invoice='cd /Users/hsu-wei-cheng/Dropbox/tao2tw_itaoker_project/Invoice_發票開立/invoice_parse'

#ssh
alias ascite_ssh='ssh poc@142.4.51.136'
alias linode_ssh='ssh poc@106.186.30.219'
alias 4am_ssh='ssh poc@106.186.30.62'
alias dqa_ssh='ssh poc@172.19.16.101'
alias 03_dqa_ssh='ssh poc@172.19.16.103'
alias 02_dqa_ssh='ssh poc@172.19.11.232'

#python 3
alias p3='/usr/local/bin/python3 '

#Rails
alias dbmigrate='rake db:migrate'
alias uproutes='rake routes'
alias reindex='rake sunspot:reindex[,,true]'
alias spotstart='rake sunspot:solr:start '
alias spotstop='rake sunspot:solr:stop '
alias spotrestart='rake sunspot:solr:stop ; rake sunspot:solr:start '

